<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title>QuestCheck</title>
    </head>
    <body>
        <header class="header">
            <div class="logo-wrapper">
                <span class="logo-icon">
                    <svg
                        width="48"
                        height="48"
                        viewBox="0 0 48 48"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <circle cx="24" cy="24" r="24" fill="#C57B57" />
                        <path
                            d="M29 13.0725V12C29 11.2044 28.6839 10.4413 28.1213 9.87868C27.5587 9.31607 26.7956 9 26 9H22C21.2044 9 20.4413 9.31607 19.8787 9.87868C19.3161 10.4413 19 11.2044 19 12V13.0725C17.3351 13.3152 15.813 14.1484 14.7115 15.4202C13.61 16.692 13.0025 18.3175 13 20V35C13 35.5304 13.2107 36.0391 13.5858 36.4142C13.9609 36.7893 14.4696 37 15 37H33C33.5304 37 34.0391 36.7893 34.4142 36.4142C34.7893 36.0391 35 35.5304 35 35V20C34.9975 18.3175 34.39 16.692 33.2885 15.4202C32.187 14.1484 30.6649 13.3152 29 13.0725ZM22 11H26C26.2652 11 26.5196 11.1054 26.7071 11.2929C26.8946 11.4804 27 11.7348 27 12V13H21V12C21 11.7348 21.1054 11.4804 21.2929 11.2929C21.4804 11.1054 21.7348 11 22 11ZM29 28H19V27C19 26.7348 19.1054 26.4804 19.2929 26.2929C19.4804 26.1054 19.7348 26 20 26H28C28.2652 26 28.5196 26.1054 28.7071 26.2929C28.8946 26.4804 29 26.7348 29 27V28ZM19 30H25V31C25 31.2652 25.1054 31.5196 25.2929 31.7071C25.4804 31.8946 25.7348 32 26 32C26.2652 32 26.5196 31.8946 26.7071 31.7071C26.8946 31.5196 27 31.2652 27 31V30H29V35H19V30ZM33 35H31V27C31 26.2044 30.6839 25.4413 30.1213 24.8787C29.5587 24.3161 28.7956 24 28 24H20C19.2044 24 18.4413 24.3161 17.8787 24.8787C17.3161 25.4413 17 26.2044 17 27V35H15V20C15 18.6739 15.5268 17.4021 16.4645 16.4645C17.4021 15.5268 18.6739 15 20 15H28C29.3261 15 30.5979 15.5268 31.5355 16.4645C32.4732 17.4021 33 18.6739 33 20V35ZM27 19C27 19.2652 26.8946 19.5196 26.7071 19.7071C26.5196 19.8946 26.2652 20 26 20H22C21.7348 20 21.4804 19.8946 21.2929 19.7071C21.1054 19.5196 21 19.2652 21 19C21 18.7348 21.1054 18.4804 21.2929 18.2929C21.4804 18.1054 21.7348 18 22 18H26C26.2652 18 26.5196 18.1054 26.7071 18.2929C26.8946 18.4804 27 18.7348 27 19Z"
                            fill="white"
                        />
                    </svg>
                </span>
                <h1 class="logo-text">
                    Quest<span class="logo-text--inverted">Check</span>
                </h1>
            </div>
        </header>
    </body>
</html>
